main {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: space-evenly;
  margin: 5em 5em;
}

.form-container {
  width: 25vw;
  margin: 0 5em;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  margin: 0 5em;
}

.card img {
  margin: auto;
}

.card-body {
  margin: auto;
}
